/* 
 
 Una sección de imágenes
 Una sección de contacto
 Un footer
 Estar deployado en vercel. */

/* 
Fuentes:
font-family: 'Gochi Hand', cursive;
font-family: 'Raleway', sans-serif;

colores usados en la pagina:

color 1 {color: #207dbd;}
color 2 {color: #a985c3;}
color 3 {color: #f9cdc2;}
color 4 {color: #ffe8d2;}
color 5 {color: #ffffec;}
*/


 @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Raleway:wght@100&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #ffffec;
}

h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 8rem;
  color: #ffe8d2;
  -webkit-animation: text-shadow-pop-tl 0.6s both;
  animation: text-shadow-pop-tl 0.6s both;
  animation-delay: 1s;
}

h2 {
  font-size: 6rem;
  color: #ffe8d2;
  -webkit-animation: text-shadow-pop-tl 1.5s both;
  animation: text-shadow-pop-tl 1.5s both;
}

a {
    text-decoration: none;

}

a:hover {
  -webkit-animation: scale-up-ver-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-ver-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

ul {
  list-style: none;
}
/* Editar el nav */

.navbar {
  display: flex;
  justify-content: space-between;
  position:fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #f9cdc2;  
  z-index: 10;
}

.nav_left img{
  max-height: 110px;
  margin-top: -20px;
}


.nav_right {
  
  display: flex;
  justify-content: end;
  align-items: center; 
}

.nav_ul-li{
  display: inline-block;
  margin: 20px;
}

.nav_ul-link {
  font-size: 1.5rem;
  color: #555555;
}

.nav_ul-link:hover {
  -webkit-animation: text-pop-up-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

} 

.link-active {
  color: #000000;
  text-shadow: #ffffec;
}

.Section_Imag {
  width: 100%;
  height: 100vh;
}

.Section_Contact {
  width: 100%;
  height: 100vh;
}

/* editar main */


.main_container {
  height: 100vh;
  width: 100%;
  background-image: url(/imagenes/fondo_main.jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main_title {
  position: relative;
  top: 0;
 	-webkit-animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation-duration: 1s;
}

.main_div-container {
  height: 40%;
  width: 90%;
  font-size: 2rem;

}

.main_div-container h3 {
  margin: 50px;
}

.main_div-container-p {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  
}




/*Editar login.css*/

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: auto;
  font-family: 'Gochi Hand', cursive;
  margin-bottom: -5vh;
}

.container_form {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  
  .form_imput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }
  
  button {
    background-color: #a985c3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #207dbd;
  }
    
  .avatar {
    width: 40%;
  }
    
  .container_button {
    margin-top: 5px;
    padding: 16px;
    background-color: rgba(169, 133, 195, .5);
    border: 2px solid black;
    border-radius: 3px;
  }
    
  .psw {
    float: right;
    padding-top: 16px;
  }
 

/* Animaciones */

@-webkit-keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #ffffff;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #ffffff;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

@-webkit-keyframes text-shadow-pop-tl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px -1px #555555, -2px -2px #555555, -3px -3px #555555, -4px -4px #555555;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
@keyframes text-shadow-pop-tl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px -1px #555555, -2px -2px #555555, -3px -3px #555555, -4px -4px #555555;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}

@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes text-pop-up-br {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px) translateX(50px);
            transform: translateY(50px) translateX(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #ffffff, 0 3px 0 #ffffff, 0 4px 0 #ffffff;
  }
}
@keyframes text-pop-up-br {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px) translateX(50px);
            transform: translateY(50px) translateX(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #ffffff, 0 3px 0 #ffffff, 0 4px 0 #ffffff;
  }
}







/* Media Queries */
@media (max-width:374px) {
  .nav_ul-link {
  font-size: 1.2rem;
  }
}
@media (max-width:461px) {

  .navbar {
    justify-content: center;
  }
  .nav_left {
    display: none;
  }

}
@media (min-width:200px) and (max-width:767px) {

  h1 {
    font-size: 4rem;
    text-align: center;   
  }
  .main_div-container {
    
    font-size: 1.5rem;
}

}


@media (min-width:990px) {
  .container_form {
    margin: 0 80px;

  }


}